h2 {
  color: #fe520c;
  font-size: 20px;
  font-family: arial;
}

a {
  text-decoration: none;
}

.white-card {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  margin: 5px auto;
  text-align: center;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.shadowed {
  box-shadow: 5px 5px 3px black;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.btn-blue {
  background-color: lightblue;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
}

.btn-blue:hover {
  background-color: rgb(4, 4, 121);
}

i {
  color: darkgreen;
  font-size: 50px;
}

i:hover{
  color: black;
}

.list-inline > li{
  display: inline;
}

.list-inline {
  padding: 0;
}


@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


